body
{
  width: 100%;
  background-color: #000000;
  color: #AEA578;
  font-family: Arial;
  font-size: 18px;
  padding-left: 10px;
}

h1, h3, p
{
  font-family: Bookman;
  text-align: center;
}
 
#legend
{
    width: 100%;
    height: 200px;
    background-color: #EA9A47;
    padding: 20px;
}

#gbu
{
      fill: #447C70;
      stroke: white;
      stroke-linejoin: round;
      width: 100%;
      height: 600px;
}

#graticule, #outline
{
    fill: none;
    stroke: gray;
    stroke-width: 1px;
    width: 100%;
    height:600px;
}
