body
{
  width: 800px;
  background-color: #75787b;
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  padding-left: 20px;
}

h1, h2, h3
{
  font-family: Bookman;
  text-align: center;
}

a:link
{
  font-family: Arial;
  font-size: 16px;
  background-color:  #32577b;
  color: black;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
}
